version: "3.8"

services:
  next_app:
    container_name: laylacake2-fe
    image: hoppasc/laylacake-fe:latest # Pakai image yang sudah di-push
    pull_policy: always # Pakai image terbaru tiap kali up
    env_file:
      - .env

    ports:
      - "8010:3000"

    restart: unless-stopped

    # =========================
    # RESOURCE LIMIT (KETAT)
    # =========================
    deploy:
      resources:
        limits:
          cpus: "0.50"        # MAX 50% 1 core
          memory: 512M        # HARD LIMIT
        reservations:
          cpus: "0.25"
          memory: 256M

    # =========================
    # SECURITY HARDENING
    # =========================
    read_only: true
    security_opt:
      - no-new-privileges:true

    cap_drop:
      - ALL

    pids_limit: 100

    ulimits:
      nproc: 256
      nofile:
        soft: 1024
        hard: 2048

    # =========================
    # FILESYSTEM (WAJIB TULIS)
    # =========================
    tmpfs:
      - /tmp
      - /app/.next/cache

    # =========================
    # NETWORK
    # =========================
    networks:
      - frontend-net


networks:
  frontend-net:
    driver: bridge
